---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.astro';
import Section from '../components/Section.astro';
import WorkSection from '../components/WorkSection.astro';

// TODO fun stuff - teaching, portraits, projects (thinkifier, what else?)
---

<Layout>
	<Hello />
	<Section title="About">TK</Section>
	<WorkSection />
	<Section title="Fun Stuff">TK</Section>
</Layout>
