---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.astro';
import Section from '../components/Section.astro';
import WorkItem from '../components/WorkItem.astro';

const lithicRoles = [
	{title: "Staff Software Engineer, Privacy.com", dates: "Jan 2024 - Present"},
	{title: "Senior Software Engineer, Privacy.com", dates: "Mar 2022 - Jan 2024"},
	{title: "Engineering Lead, Product Engineering", dates: "Apr 2020 - Mar 2022"},
	{title: "Software Engineer", dates: "Nov 2018 - Apr 2020"},
]
---

<Layout>
	<Hello />
	<Section title="About">TK</Section>
	<Section title="Work">
		<WorkItem company="Lithic" site="https://www.lithic.com/" roles={lithicRoles} />
		<WorkItem company="Skillshare" site="https://www.skillshare.com/en/" roles={[{title: "Software Engineer", dates: "Jul 2016 - Nov 2018"}]} />
		<WorkItem company="Luminoso" site="https://luminoso.com/" roles={[{title: "Frontend Dev Intern", dates: "Jun 2015 - Aug 2015"}]} />
		<WorkItem company="Tumblr" site="https://www.tumblr.com/" roles={[{title: "Product Engineering Intern", dates: "May 2014 - Aug 2014"}]} />
	</Section>
	<Section title="Education">TK</Section>
</Layout>
