@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400')
@import url('http://fonts.googleapis.com/css?family=Raleway:400,700')

colors = #54b980 #5089a5 #aee86a
colors-light = #b3eacb #b2d4e4 #ddf8be
colors-dark = #1a8d4c #1c5d7d #6fb321

linkcolors(cur,total)
  &:nth-child({total}n+{cur})
    color colors-dark[cur - 1]

    &:hover
      color colors-light[cur - 1]

blockcolors(cur,total)
  &:nth-child({total}n+{cur})
    background-color colors[cur - 1]

    &:after
      background linear-gradient(transparent 10%, colors[cur - 1])

centerpage()
  max-width 1000px
  margin 0 auto

body
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  margin 0

h1
  font-family 'Raleway', Helvetica, Arial, sans-serif

.header
  centerpage()
  position relative
  height 100px
  background-color #fff

  .site-title
    margin 0
    padding 20px

  .menubar
    position absolute
    bottom 0
    padding 10px

    .menubar-link
      padding 10px
      text-decoration none
      linkcolors(1,3)
      linkcolors(2,3)
      linkcolors(3,3)

.header-border
  height 10px
  background-image url("img/border.png")
  background-repeat repeat-x

.body
  centerpage()
  display flex
  flex-flow row wrap
  justify-content space-around
  align-content flex-start

  .entry
    blockcolors(1,3)
    blockcolors(2,3)
    blockcolors(3,3)

    &.short
      height 100px
      
      h3, p
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

.block-display
  .entry
  .filler
    position relative
    overflow hidden
    margin 0px
    flex 0 0 auto

  .entry:before
    content ""
    display block
    padding-top 100%

  .entry:after
    content ""
    position absolute
    top 25%
    bottom 0
    left @bottom
    right @bottom

  .entry-inner
    position absolute
    top 10px
    bottom @top*2
    left @bottom
    right @left

    h3
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    p
      overflow hidden
      text-overflow ellipsis

@media screen and (max-width: 450px)
  .entry
  .filler
    width 100%

@media screen and (min-width: 450px)
  .entry
  .filler
    width 50%

@media screen and (min-width: 900px)
  .entry
  .filler
    width 25%

.circle-display
  .entry
  .filler
    margin 35px
    width 160px
    height @width
    border-radius 50%
    flex 0 0 auto

.filler
  height 0
