---
const { title } = Astro.props;
---

<section class="section">
    <h2 class="title">{title}</h2>
    <slot />
</section>

<style>
.section {
    position: relative;
    border: 1px solid #000000;
    max-width: 800px;
    width: 80%;
    margin: 4rem 2rem 0;
    padding: 2rem 1rem 1rem;
}

.title {
    position: absolute;
    margin: 0;
    left: -1.5rem;
    top: -2.5rem;
    font-size: 3rem;
	font-family: "Permanent Marker", "DM Sans", Arial, Helvetica, sans-serif;
}
</style>
